.about {
  &__container {
    row-gap: 2rem;
    text-align: center;
  }

  &__img {
    justify-self: center;

    & img {
      width: 150px;
      border-radius: 0.5rem;
    }
  }

  &__subtitle {
    margin-bottom: $mb-2;
  }
}
